.vowelText {
    text-align: center;
    font-family: rounded;
    color: var(--text-navy);
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.vowelContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: var(--background-orange);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 5px 5px #cecece;
}

