.soundCol {
  margin: 10px;
}

.vowelColumnHeader{
  text-align: center;
  font-family:rounded;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.vowel-container {
  height: 100%;
  display: flex;
}

.section-header {
  height: fit-content;
  padding-left: 36px;
  padding-right:36px;
  color: #ffafa2;
  font-family: rounded;
  margin-top:36px;
  margin-bottom:36px;
}

.gridContainer {
  height:auto !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}