.container {
  height: 100%;
}

.soundRow {
  height: 20%;
}

.soundCol {
  margin: 10px;
}

.vowelColumnHeader{
  text-align: center;
  font-family:rounded;
}

.app-container {
  height: 100%
}

.section-header {
  padding-top:24px;
  padding-bottom:24px;
  padding-left: 36px;
  padding-right:36px;
  color: #ffafa2;
  font-family: rounded;

}