.gcf-container {
    height: 100%;
    display: flex;
}

.gcf-question-container {
    height:auto !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.actionContainer{
    display: flex;
}

.answerStatus{
    margin-top: 0.5rem;
    width:100%;
}

.redText{
    color:red;
}